<h2>商品一覧</h2>

<div>
<%= link_to new_admin_item_path, method: :get do %>
  <i class="fa-solid fa-plus"></i>
<% end %>
</div>

<table>
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th></th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.name, admin_item_path(item) %></td>
        <td><%= item.price_excluding_tax %></td>
        <td><%= item.genre.name %></td>
        <td></td>
        <td>
          <span style="color: <%= item.is_for_sale ? 'green' : 'red' %>">
            <%= item.is_for_sale ? '販売中' : '売切れ' %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @items %>