<div class="mt-5">
  <div class="container">
    <div class="row">
      <div class="bg-light">
        <h3>商品一覧</h3>
      </div>
      <div class="col d-flex flex-row-reverse">
        <%= link_to '+',new_admin_item_path, class:'btn rounded-circle p-0"style="width:2rem;height:2rem;" shadow' %>
      </div>
    
      <table class="table">
        <thead class="bg-light">
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th></th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to item.name, admin_item_path(item), class:"text-dark" %></td>
              <td><%= item.price_excluding_tax %></td>
              <td><%= item.genre.name %></td>
              <td></td>
              <td>
                <p class="<%= item.is_for_sale ? 'text-success font-weight-bold' : 'text-secondary font-weight-bold' %> ">
                  <%= item.is_for_sale ? '販売中' : '売切れ' %>
                </p>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
 <%= paginate @items %>