<h2>商品新規登録</h2>
<%= form_with model: @item, url: admin_items_path do |f| %>
 <p>商品画像
　<%= f.file_field :image, accept: "image/*" %></p>

 <p>商品名
  <%= f.text_field :name %></p>

 <p>商品説明
  <%= f.text_area :description %></p>

 <p><%= f.label :genre_id, 'ジャンル' %>
 <%= f.collection_select :genre_id, Genre.all, :id, :name, { include_blank: '選択してください' } %></p>
 
 <p>税抜価格
  <%= f.text_field :price_excluding_tax %>円</p>
  
 <p>販売ステータス
    <%= f.radio_button :is_for_sale, true %>
    <%= f.label :is_for_sale, '販売中', value: true %>

    <%= f.radio_button :is_for_sale, false %>
    <%= f.label :is_for_sale, '売切れ', value: false %></p>
    
 <%= f.submit '新規登録', class: 'btn btn-success' %>
<% end %>