<span style="background-color: #C0C0C0;">ショッピングカート</span>
<%= link_to "カートを空にする", destroy_all_shopping_cart_items_path, method: :delete, class: 'btn btn-danger' %>
<table>
  <thead>
    <th>商品名</th>
    <th>単価（税込）</th>
    <th>数量</th>
    <th>小計</th>
    <th></th>
  </thead>
  <tbody>
    <!--<% if current_member.shopping_cart_items.present? %>-->
    <% @shopping_cart_items.each do |shopping_cart_item| %>
      <tr>
        <td><%= image_tag shopping_cart_item.item.get_image, size: "60x60" %></td>
        <td><%= shopping_cart_item.item.name %></td>
        <td><%= shopping_cart_item.item.with_tax_price %></td>
        <td>
          <%= form_with model: shopping_cart_item, url: shopping_cart_item_path(shopping_cart_item.id), local: true, method: :patch do |f| %>
            <%= f.select :quantity, min: 1, max:10, id: "quantity_cart" %>
            <%= f.submit "変更", class: "btn btn-success" %>
          <% end %>
        </td>
        <td><%= shopping_cart_item.subtotal %></td>
        <td><%= link_to "削除する", shopping_cart_item_path(shopping_cart_item.id, shopping_cart_item), method: :delete, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>