<h2>注文情報確認</h2>
  <table border="1">
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
      </tr>
    </thead>
    <% total = 0 %><%#合計金額total初期化 %>
    <% @shopping_cart_items.each do |shopping_cart_item| %>
      <tr>
        <td>
          <%= image_tag shopping_cart_item.item.get_image, size: "60x60" %><%#商品画像%>
          <%= shopping_cart_item.item.name %><%#商品名%>
        </td>
        <td><%= shopping_cart_item.item.with_tax_price %></td><%#単価（税込）%>
        <td><%= shopping_cart_item.quantity %></td><%#数量%>
        <td><%= shopping_cart_item.subtotal %></td><%#小計%>
      </tr>
      合計金額表示
　　<% end %>
  </table>

  <table>
    <tr>
      <th>送料</th>
      <td><%= @order.shipping_fee %></td>
    </tr>
    <tr>
      <th>商品合計</th><%#商品の合計金額%>
      <td></td>
    </tr>
    <tr>
      <th>請求金額</th>
      <td></td>
    </tr>
  </table>

  <table>
    <tr>
      <th>支払い方法</th>
      <td><%= Order.payment_methods_i18n[@order.payment_method] %></td>
    </tr>
    <tr>
     <th>お届け先</th>
     <td>
       〒<%= @order.postal_code %>
       <%= @order.address %>
       <%= @order.name %>
     </td>
    </tr>
  </table>