<h2>注文情報確認</h2>
  <table>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
    <% total = 0 %><%#合計金額total初期化 %>
    <% @cart_items.each do |cart_item| %>
      <tr>
        <td>
          <%= image_tag cart_item.item.get_image, size: "60x60" %>
          <%= cart_item.item.name %>
        </td>
        <td>商品単価（税込） モデルに定義</td>
        <td><%= cart_item.quantity %></td>
        <td>小計金額 モデルに定義</td>
      </tr>
      合計金額表示
　　<% end %>
  </table>
  
  <table>
    <tr>
      <th>送料</th>
      <td><%= @order.shipping_fee %></td>
    </tr>
    <tr>
      <th>商品合計</th><%#商品の合計金額%>
      <td></td>
    </tr>
    <tr>
      <th>請求金額</th>
      <td></td>
    </tr>
  </table>
  
  <table>
    <tr>
      <th>支払い方法</th>
      <td><%= Order.payment_methods_i18n[@order.payment_method] %></td>
    </tr>
    <tr>
     <th>お届け先</th>
     <td>
       〒<%= @order.postal_code %>
       <%= @order.address %>
       <%= @order.name %>
     </td>
    </tr>
  </table>