<div class="container">
  <div class="row mt-5">
    <div class="col-lg-3">
      <table class="table table-bordered border-dark w-100 h-75">
        <tr><th class="text-center border-dark">ジャンル検索</th></tr>
        <% @genres.each do |genre| %>
         <tr>
          <td class="border-0"><%= genre.name %></td>
         </tr>
        <% end %>
      </table>
    </div>
    <div class="col-lg-3">
      <%= image_tag @item.get_image, size: "250x200" %>
    </div>
    <div class="col-lg-6">
      <div>
        <h2><%= @item.name %></h2>
        <p><%= @item.description %></p>
        <p>¥<%= @item.add_tax_sales_price.to_s %>（税込）</p>
        <span style="color: <%= @item.is_for_sale ? 'green' : 'red' %>">
          <%= @item.is_for_sale ? '販売中' : '売切れ' %>
        </span>
        <!--商品販売中の場合-->
        <% if @item.is_for_sale == true %> 
          <%= form_with(model: @shopping_cart_item, url: shopping_cart_items_path, method: :post, local: true) do |f| %>
            <%= f.select :quantity, *[1..10], include_blank: "個数選択" %>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.submit "カートに入れる", class: 'btn btn-success' %>
          <% end %>
        <% end %>
      </div>
      <div class="text-right mt-5">
        <%= link_to "商品一覧に戻る＞", items_path %>
      </div>
    </div>
  </div>
</div>